.appRoot {
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
}

h2 {
  margin: 5px 20px;
  font-size: 20px;
  padding-bottom: 5px;
}

.pokemonCard {
  display: grid;
  width: 5in;
  height: 7in;
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  border: 15px solid #e7c30d;
  box-shadow: 15px 12px 30px 0px rgb(41, 40, 40);
}

.title-row {
  display: grid;
  height: 45px;
  text-transform: capitalize;
  margin: 5px 20px;
}

.pokemon-img {
  margin: 0 20px;
  background-image: radial-gradient(white, rgb(0, 0, 0));
  height: 270px;
  text-align: center;
  border: 5px solid #e7c30d;
  padding-top: 40px;
  overflow: hidden;
}

.img {
  width: 100%;
  
}
.pokemon-info {
  background-color: #e4c426;
  height: 25px;
  margin: 0 40px;
  text-align: center;
  padding-top: 3px;
  box-shadow: 5px 5px 13px 0px rgb(41, 40, 40);
}

.info-span {
  padding: 0 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

.pokemon-ability {
  padding-top: 20px;
  height: 60px;
  margin: 0 20px;
  text-align: center;
  border-bottom: 2px solid black;
}

.ability-span {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
}

.pokemon-moves {
  height: 70px;
  margin: 0 20px;
  display: grid;
}

.moves-header {
  font-weight: bold;
  text-transform: capitalize;
}

.moves-description {
  margin-bottom: 20px;
}


